flows.json
[
    {
        "id": "458dc5a9.97c4ec",
        "type": "tab",
        "label": "LPR",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1b6e8e29077ebd4d",
        "type": "tab",
        "label": "LPR-GC",
        "disabled": true,
        "info": ""
    },
    {
        "id": "3cbbdea769e4e35e",
        "type": "tab",
        "label": "LPR-GC-MG3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9cb2406a.8026b",
        "type": "websocket-listener",
        "path": "/ws/request",
        "wholemsg": "false"
    },
    {
        "id": "3a960f68.dfb54",
        "type": "websocket-client",
        "path": "ws://192.168.1.137:4000",
        "tls": "",
        "wholemsg": "false",
        "hb": "0"
    },
    {
        "id": "b36aa30.3a7276",
        "type": "http request",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "e1ed0ad1.d04fa8"
            ]
        ]
    },
    {
        "id": "70154cd4.de1444",
        "type": "change",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "b36aa30.3a7276"
            ]
        ]
    },
    {
        "id": "1ef9987c.956c78",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "e1ed0ad1.d04fa8",
        "type": "xml",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "1ef9987c.956c78",
                "f76be03c.8a1fa"
            ]
        ]
    },
    {
        "id": "c92dacb8.cd249",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "f76be03c.8a1fa",
        "type": "function",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "func": "msg.temp = msg.payload;\nmsg.payload = {};\n\nmsg.payload.DateTime = msg.temp.Response.Data[0].RecordData[0].DateTime[0];\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMIN\"){\n    msg.payload.CameraIP = \"192.168.1.111\";\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMOUT\"){\n    msg.payload.CameraIP = \"192.168.1.112\"; \n}\nmsg.payload.PlateText = msg.temp.Response.Data[0].RecordData[0].LicensePlate[0];\nmsg.payload.PlateProvince = msg.temp.Response.Data[0].RecordData[0].Country[0];\n\nmsg.payload.CarMake = msg.temp.Response.Data[0].RecordData[0].Manufacturer[0];\nmsg.payload.CarModel =  msg.temp.Response.Data[0].RecordData[0].VehicleType[0];\nmsg.payload.CarColor = msg.temp.Response.Data[0].RecordData[0].VehicleColor[0];\n\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMIN\"){\n    msg.payload.Direction = \"IN\"\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMOUT\"){\n    msg.payload.Direction = \"OUT\"\n}\nmsg.payload.Location = \"Gate1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "fdfec23b.528b",
                "7ef1cf22.4899d"
            ]
        ]
    },
    {
        "id": "6a0a8abc.601f64",
        "type": "comment",
        "z": "458dc5a9.97c4ec",
        "name": "REF",
        "info": "JSON RPC 2.0 Websocket client and server demo\n\nhttps://flows.nodered.org/flow/403084304083feffc17d65b507f70c0a",
        "x": 90,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b8edce4.ccd31b",
        "type": "websocket in",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "server": "9cb2406a.8026b",
        "client": "",
        "x": 120,
        "y": 1520,
        "wires": [
            [
                "dcfc3e96.f1e1b8"
            ]
        ]
    },
    {
        "id": "42c48f04.f2198",
        "type": "websocket out",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "server": "9cb2406a.8026b",
        "client": "",
        "x": 680,
        "y": 1520,
        "wires": []
    },
    {
        "id": "bb8e83fc.b8afe",
        "type": "change",
        "z": "458dc5a9.97c4ec",
        "name": "result",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"jsonrpc\": \"2.0\",\t    \"result\": {\t        \"ack\": $millis()\t    },\t    \"id\": payload.id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1520,
        "wires": [
            [
                "42c48f04.f2198"
            ]
        ]
    },
    {
        "id": "9736c3b8.651ad",
        "type": "websocket out",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "server": "",
        "client": "3a960f68.dfb54",
        "x": 400,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ec2054f9.08769",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "{\"jsonrpc\":\"2.0\",\"method\":\"playerTap\",\"params\":{\"playerId\":\"2323232323\"},\"id\":1}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"jsonrpc\":\"2.0\",\"method\":\"playerTap\",\"params\":{\"playerId\":\"2323232323\"},\"id\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "9736c3b8.651ad"
            ]
        ]
    },
    {
        "id": "a2000ce8.ec378",
        "type": "websocket in",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "server": "",
        "client": "3a960f68.dfb54",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "cb80b54b.3468c"
            ]
        ]
    },
    {
        "id": "33d59caf.687ccc",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 1380,
        "wires": []
    },
    {
        "id": "569c2eb9.8c11c",
        "type": "comment",
        "z": "458dc5a9.97c4ec",
        "name": "Server",
        "info": "",
        "x": 90,
        "y": 1480,
        "wires": []
    },
    {
        "id": "6eea9aec.9e331c",
        "type": "comment",
        "z": "458dc5a9.97c4ec",
        "name": "Client",
        "info": "",
        "x": 90,
        "y": 1280,
        "wires": []
    },
    {
        "id": "cb80b54b.3468c",
        "type": "json",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 1380,
        "wires": [
            [
                "33d59caf.687ccc"
            ]
        ]
    },
    {
        "id": "dcfc3e96.f1e1b8",
        "type": "json",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 1520,
        "wires": [
            [
                "bb8e83fc.b8afe"
            ]
        ]
    },
    {
        "id": "9589286f.d3e008",
        "type": "function",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "func": "msg.payload =  \"GET / HTTP/1.1\\r\\n\\r\\nHOST: www.google.com\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1440,
        "wires": [
            [
                "51230fc0.241ed"
            ]
        ]
    },
    {
        "id": "51230fc0.241ed",
        "type": "tcp request",
        "z": "458dc5a9.97c4ec",
        "server": "www.google.com",
        "port": "80",
        "out": "time",
        "splitc": "1000",
        "name": "",
        "x": 1290,
        "y": 1500,
        "wires": [
            [
                "46a04614.226bb8"
            ]
        ]
    },
    {
        "id": "46a04614.226bb8",
        "type": "function",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "func": "msg.payload = msg.payload.toString('utf8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 1560,
        "wires": [
            [
                "b06fb350.2972b"
            ]
        ]
    },
    {
        "id": "b06fb350.2972b",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ba10088.59479f8",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1100,
        "y": 1380,
        "wires": [
            [
                "9589286f.d3e008"
            ]
        ]
    },
    {
        "id": "3ed4bf36.7ba27",
        "type": "tcp in",
        "z": "458dc5a9.97c4ec",
        "name": "Server holding connections at :1025",
        "server": "server",
        "host": "",
        "port": "1025",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "text",
        "base64": false,
        "x": 1280,
        "y": 180,
        "wires": [
            [
                "c68831a2.4f549",
                "a7e6ccd4.249e2",
                "8bec32d8.6ebf"
            ]
        ]
    },
    {
        "id": "8a6ca03.647916",
        "type": "tcp out",
        "z": "458dc5a9.97c4ec",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "reply: all open connections will be messaged",
        "x": 2310,
        "y": 180,
        "wires": []
    },
    {
        "id": "3cbd8016.631eb",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "show incomming text at the debug tab",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 320,
        "wires": []
    },
    {
        "id": "644384a1.4d65dc",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "button: create a msg",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "Hello from Node-RED server.",
        "payloadType": "str",
        "x": 1980,
        "y": 100,
        "wires": [
            [
                "3bb274cd.0dd4cc"
            ]
        ]
    },
    {
        "id": "4876d621.c98708",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "show incomming text at the debug tab",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 720,
        "wires": []
    },
    {
        "id": "aa0964e.2104e98",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "button: create a msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{     \"DateTime\": \"2021-08-03 09:49:26.672\",     \"CameraIP\": \"192.168.1.112\",     \"PlateText\": \"วว128\",     \"PlateProvince\": \"Thailand (Bangkok)\",     \"CarMake\": \"\",     \"CarModel\": \"\",     \"CarColor\": \"-1\",     \"Direction\": \"OUT\",     \"Location\": \"Gate1\" }",
        "payloadType": "json",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "cb71f59d.9ae368",
                "bad0a551.5bc4d8"
            ]
        ]
    },
    {
        "id": "b8dde93.abf1418",
        "type": "tcp out",
        "z": "458dc5a9.97c4ec",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "reply: the server will get messaged",
        "x": 2040,
        "y": 540,
        "wires": []
    },
    {
        "id": "1f0a0c3d.2f7ed4",
        "type": "tcp in",
        "z": "458dc5a9.97c4ec",
        "name": "Node-RED Client",
        "server": "client",
        "host": "localhost",
        "port": "46789",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "text2",
        "base64": false,
        "x": 1240,
        "y": 620,
        "wires": [
            [
                "888d839.1578c8",
                "703a8806.7647a8"
            ]
        ]
    },
    {
        "id": "888d839.1578c8",
        "type": "template",
        "z": "458dc5a9.97c4ec",
        "name": "\"CLIENT GOT:\" +",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "CLIENT GOT:\n{{payload}}",
        "x": 1450,
        "y": 680,
        "wires": [
            [
                "4876d621.c98708"
            ]
        ]
    },
    {
        "id": "c68831a2.4f549",
        "type": "template",
        "z": "458dc5a9.97c4ec",
        "name": "\"SERVER GOT:\" +",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SERVER GOT:\n{{payload}}",
        "x": 1590,
        "y": 240,
        "wires": [
            [
                "3cbd8016.631eb"
            ]
        ]
    },
    {
        "id": "a7e6ccd4.249e2",
        "type": "template",
        "z": "458dc5a9.97c4ec",
        "name": "modify received msg to be send back",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You were sending: {{payload}}\n",
        "x": 1810,
        "y": 180,
        "wires": [
            [
                "8a6ca03.647916"
            ]
        ]
    },
    {
        "id": "bda7c3b9.d474e",
        "type": "comment",
        "z": "458dc5a9.97c4ec",
        "name": "Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing",
        "info": "Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing",
        "x": 1480,
        "y": 800,
        "wires": []
    },
    {
        "id": "b2b36f52.3226f",
        "type": "tcp in",
        "z": "458dc5a9.97c4ec",
        "name": "Proxy: fixing client with no NL :1026",
        "server": "server",
        "host": "",
        "port": "1026",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "text",
        "base64": false,
        "x": 1300,
        "y": 440,
        "wires": [
            [
                "3df93666.9d411a"
            ]
        ]
    },
    {
        "id": "3df93666.9d411a",
        "type": "template",
        "z": "458dc5a9.97c4ec",
        "name": "fix incomming message with a newline",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}\n",
        "x": 1610,
        "y": 440,
        "wires": [
            [
                "5efdf60a.e103f8"
            ]
        ]
    },
    {
        "id": "606fafde.eaf2d",
        "type": "template",
        "z": "458dc5a9.97c4ec",
        "name": "+ newline",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}\n",
        "x": 1500,
        "y": 580,
        "wires": [
            [
                "b8dde93.abf1418"
            ]
        ]
    },
    {
        "id": "3bb274cd.0dd4cc",
        "type": "template",
        "z": "458dc5a9.97c4ec",
        "name": "+ newline",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}\n",
        "x": 2140,
        "y": 100,
        "wires": [
            [
                "8a6ca03.647916"
            ]
        ]
    },
    {
        "id": "5efdf60a.e103f8",
        "type": "tcp request",
        "z": "458dc5a9.97c4ec",
        "server": "localhost",
        "port": "1025",
        "out": "time",
        "splitc": "0",
        "name": "connect the Node-RED server",
        "x": 1950,
        "y": 440,
        "wires": [
            [
                "5d629070.fcdd7"
            ]
        ]
    },
    {
        "id": "5d629070.fcdd7",
        "type": "tcp out",
        "z": "458dc5a9.97c4ec",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "reply: any answer back to the client",
        "x": 2280,
        "y": 440,
        "wires": []
    },
    {
        "id": "8b055424.0e3648",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "button: open telnet to 1025 (windows)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 2030,
        "y": 800,
        "wires": [
            [
                "feff714a.33ac4",
                "d3fd134c.3a1cb"
            ]
        ]
    },
    {
        "id": "feff714a.33ac4",
        "type": "exec",
        "z": "458dc5a9.97c4ec",
        "command": "start",
        "addpay": false,
        "append": "telnet localhost 1025",
        "useSpawn": false,
        "timer": "",
        "name": "start telnet",
        "x": 2270,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d3fd134c.3a1cb",
        "type": "delay",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "pauseType": "delay",
        "timeout": "1200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2280,
        "y": 860,
        "wires": [
            [
                "a134e318.cbfa7"
            ]
        ]
    },
    {
        "id": "a134e318.cbfa7",
        "type": "exec",
        "z": "458dc5a9.97c4ec",
        "command": "msg",
        "addpay": false,
        "append": "%username% \"start by pressing enter\"",
        "useSpawn": false,
        "timer": "",
        "name": "msg box",
        "x": 2260,
        "y": 900,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "703a8806.7647a8",
        "type": "template",
        "z": "458dc5a9.97c4ec",
        "name": "no msg back, we do behave!",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "x": 1760,
        "y": 620,
        "wires": [
            [
                "b8dde93.abf1418"
            ]
        ]
    },
    {
        "id": "d33bea5f.0f2fe8",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 360,
        "wires": []
    },
    {
        "id": "8bec32d8.6ebf",
        "type": "function",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "func": "msg.payload = JSON.parse(JSON.stringify(msg.payload))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "d33bea5f.0f2fe8"
            ]
        ]
    },
    {
        "id": "fdfec23b.528b",
        "type": "json",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "c92dacb8.cd249",
                "68a33451.578a6c",
                "b8dde93.abf1418"
            ]
        ]
    },
    {
        "id": "68a33451.578a6c",
        "type": "file",
        "z": "458dc5a9.97c4ec",
        "name": "FILE",
        "filename": "C:\\Users\\FR-TEST\\test.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 890,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7ef1cf22.4899d",
        "type": "xml",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "56cfbeff.3bfcc"
            ]
        ]
    },
    {
        "id": "56cfbeff.3bfcc",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "8ad01823.3b2f88",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://127.0.0.1:8601/Interface/LPR/GetLastRecordData?Camera=CAMIN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "70154cd4.de1444"
            ]
        ]
    },
    {
        "id": "8325404e.87c5d",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "CAMOUT get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://127.0.0.1:8601/Interface/LPR/GetLastRecordData?Camera=CAMOUT&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "dfd7ad98.5280f"
            ]
        ]
    },
    {
        "id": "cb71f59d.9ae368",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bad0a551.5bc4d8",
        "type": "json",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1110,
        "y": 900,
        "wires": [
            [
                "606fafde.eaf2d"
            ]
        ]
    },
    {
        "id": "d0db2d9c.6e1cc",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 60,
        "wires": []
    },
    {
        "id": "8135c8c2.f3f378",
        "type": "tcp in",
        "z": "458dc5a9.97c4ec",
        "name": "Server holding connections at :1025 > 46789",
        "server": "server",
        "host": "",
        "port": "46789",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "text",
        "base64": false,
        "x": 1310,
        "y": 60,
        "wires": [
            [
                "d0db2d9c.6e1cc"
            ]
        ]
    },
    {
        "id": "75bc751f.35c24c",
        "type": "http request",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "9c8b9dff.4f0b9"
            ]
        ]
    },
    {
        "id": "dfd7ad98.5280f",
        "type": "change",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "75bc751f.35c24c"
            ]
        ]
    },
    {
        "id": "bc29ca2c.c86588",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "9c8b9dff.4f0b9",
        "type": "xml",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 770,
        "y": 540,
        "wires": [
            [
                "bc29ca2c.c86588",
                "132aba6d.591d46"
            ]
        ]
    },
    {
        "id": "b9971132.b1161",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 640,
        "wires": []
    },
    {
        "id": "132aba6d.591d46",
        "type": "function",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "func": "msg.temp = msg.payload;\nmsg.payload = {};\n\nmsg.payload.DateTime = msg.temp.Response.Data[0].RecordData[0].DateTime[0];\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMIN\"){\n    msg.payload.CameraIP = \"192.168.1.111\";\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMOUT\"){\n    msg.payload.CameraIP = \"192.168.1.112\"; \n}\nmsg.payload.PlateText = msg.temp.Response.Data[0].RecordData[0].LicensePlate[0];\nmsg.payload.PlateProvince = msg.temp.Response.Data[0].RecordData[0].Country[0];\n\nmsg.payload.CarMake = msg.temp.Response.Data[0].RecordData[0].Manufacturer[0];\nmsg.payload.CarModel =  msg.temp.Response.Data[0].RecordData[0].VehicleType[0];\nmsg.payload.CarColor = msg.temp.Response.Data[0].RecordData[0].VehicleColor[0];\n\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMIN\"){\n    msg.payload.Direction = \"IN\"\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"CAMOUT\"){\n    msg.payload.Direction = \"OUT\"\n}\nmsg.payload.Location = \"Gate1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 640,
        "wires": [
            [
                "c36a1ad3.ec5f88",
                "7b92102c.faa7e"
            ]
        ]
    },
    {
        "id": "c36a1ad3.ec5f88",
        "type": "json",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 710,
        "y": 640,
        "wires": [
            [
                "b9971132.b1161",
                "aec320fd.590d8",
                "b8dde93.abf1418"
            ]
        ]
    },
    {
        "id": "aec320fd.590d8",
        "type": "file",
        "z": "458dc5a9.97c4ec",
        "name": "FILE",
        "filename": "C:\\Users\\FR-TEST\\test.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 890,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "7b92102c.faa7e",
        "type": "xml",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "54c8f503.de95cc"
            ]
        ]
    },
    {
        "id": "54c8f503.de95cc",
        "type": "debug",
        "z": "458dc5a9.97c4ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "cef7f794a3e35288",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "Docker CAMOUT get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://192.168.1.113:8601/Interface/LPR/GetLastRecordData?Camera=CAMOUT&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "dfd7ad98.5280f"
            ]
        ]
    },
    {
        "id": "d6c5aabb853eb469",
        "type": "inject",
        "z": "458dc5a9.97c4ec",
        "name": "Docker CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://192.168.1.113:8601/Interface/LPR/GetLastRecordData?Camera=CAMIN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "70154cd4.de1444"
            ]
        ]
    },
    {
        "id": "f198362c6ea0bbc4",
        "type": "tcp in",
        "z": "458dc5a9.97c4ec",
        "name": "Docker Node-RED Client",
        "server": "client",
        "host": "192.168.1.113",
        "port": "46789",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "text2",
        "base64": false,
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "703a8806.7647a8",
                "888d839.1578c8"
            ]
        ]
    },
    {
        "id": "06a0cb7194407483",
        "type": "http request",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "bdf4c8a234269dd3"
            ]
        ]
    },
    {
        "id": "9c83d994a9e3d160",
        "type": "change",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "06a0cb7194407483"
            ]
        ]
    },
    {
        "id": "26c77c2df584b7b3",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "bdf4c8a234269dd3",
        "type": "xml",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "26c77c2df584b7b3",
                "ac21ae2b422feb4a"
            ]
        ]
    },
    {
        "id": "e7c8f4869a57bdd4",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac21ae2b422feb4a",
        "type": "function",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "func": "msg.temp = msg.payload;\nmsg.payload = {};\n\nmsg.payload.DateTime = msg.temp.Response.Data[0].RecordData[0].DateTime[0];\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.CameraIP = \"172.28.13.21\";\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.CameraIP = \"172.28.13.22\"; \n}\nmsg.payload.PlateText = msg.temp.Response.Data[0].RecordData[0].LicensePlate[0];\nmsg.payload.PlateProvince = msg.temp.Response.Data[0].RecordData[0].Country[0];\n\nmsg.payload.CarMake = msg.temp.Response.Data[0].RecordData[0].Manufacturer[0];\nmsg.payload.CarModel =  msg.temp.Response.Data[0].RecordData[0].VehicleType[0];\nmsg.payload.CarColor = msg.temp.Response.Data[0].RecordData[0].VehicleColor[0];\n\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.Direction = \"IN\"\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.Direction = \"OUT\"\n}\nmsg.payload.Location = \"GC3-MG\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "ea80bf0be061d6b9",
                "a14787e4d2adb902"
            ]
        ]
    },
    {
        "id": "8893394547dd93ef",
        "type": "tcp in",
        "z": "1b6e8e29077ebd4d",
        "name": "Server holding connections at :1025",
        "server": "server",
        "host": "",
        "port": "1025",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "text",
        "base64": false,
        "x": 1280,
        "y": 180,
        "wires": [
            [
                "112a3cfc8027f44f",
                "f2f67f305619276d",
                "d2c99eb3d0433de4"
            ]
        ]
    },
    {
        "id": "e146a4ae822a6d11",
        "type": "tcp out",
        "z": "1b6e8e29077ebd4d",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "reply: all open connections will be messaged",
        "x": 2310,
        "y": 180,
        "wires": []
    },
    {
        "id": "5f1dbb6bab8d8fc6",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "show incomming text at the debug tab",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 320,
        "wires": []
    },
    {
        "id": "0b7e042ee61bc77c",
        "type": "inject",
        "z": "1b6e8e29077ebd4d",
        "name": "button: create a msg",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "Hello from Node-RED server.",
        "payloadType": "str",
        "x": 1980,
        "y": 100,
        "wires": [
            [
                "f77d222d5d29b348"
            ]
        ]
    },
    {
        "id": "420113efc2c08916",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "show incomming text at the debug tab",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 720,
        "wires": []
    },
    {
        "id": "041f2b7f7f6c441a",
        "type": "inject",
        "z": "1b6e8e29077ebd4d",
        "name": "button: create a msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{     \"DateTime\": \"2021-08-03 09:49:26.672\",     \"CameraIP\": \"192.168.1.112\",     \"PlateText\": \"วว128\",     \"PlateProvince\": \"Thailand (Bangkok)\",     \"CarMake\": \"\",     \"CarModel\": \"\",     \"CarColor\": \"-1\",     \"Direction\": \"OUT\",     \"Location\": \"Gate1\" }",
        "payloadType": "json",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "fc93a05eaae27125",
                "595fa17aed0a5950"
            ]
        ]
    },
    {
        "id": "6f125a982ffd5a88",
        "type": "tcp out",
        "z": "1b6e8e29077ebd4d",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "reply: the server will get messaged",
        "x": 1640,
        "y": 520,
        "wires": []
    },
    {
        "id": "d31bd15859bd4421",
        "type": "tcp in",
        "z": "1b6e8e29077ebd4d",
        "name": "Node-RED Client",
        "server": "client",
        "host": "localhost",
        "port": "46789",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "text2",
        "base64": false,
        "x": 1240,
        "y": 620,
        "wires": [
            [
                "5879d938757dd550",
                "ed1ab40ccdf3f687"
            ]
        ]
    },
    {
        "id": "5879d938757dd550",
        "type": "template",
        "z": "1b6e8e29077ebd4d",
        "name": "\"CLIENT GOT:\" +",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "CLIENT GOT:\n{{payload}}",
        "x": 1450,
        "y": 680,
        "wires": [
            [
                "420113efc2c08916"
            ]
        ]
    },
    {
        "id": "112a3cfc8027f44f",
        "type": "template",
        "z": "1b6e8e29077ebd4d",
        "name": "\"SERVER GOT:\" +",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SERVER GOT:\n{{payload}}",
        "x": 1590,
        "y": 240,
        "wires": [
            [
                "5f1dbb6bab8d8fc6"
            ]
        ]
    },
    {
        "id": "f2f67f305619276d",
        "type": "template",
        "z": "1b6e8e29077ebd4d",
        "name": "modify received msg to be send back",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You were sending: {{payload}}\n",
        "x": 1810,
        "y": 180,
        "wires": [
            [
                "e146a4ae822a6d11"
            ]
        ]
    },
    {
        "id": "ce5b3a4e2e1326f5",
        "type": "comment",
        "z": "1b6e8e29077ebd4d",
        "name": "Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing",
        "info": "Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing",
        "x": 1480,
        "y": 800,
        "wires": []
    },
    {
        "id": "1895e1f206b899fa",
        "type": "tcp in",
        "z": "1b6e8e29077ebd4d",
        "name": "Proxy: fixing client with no NL :1026",
        "server": "server",
        "host": "",
        "port": "1026",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "text",
        "base64": false,
        "x": 1300,
        "y": 440,
        "wires": [
            [
                "bc4aa4d9d9a18e8b"
            ]
        ]
    },
    {
        "id": "bc4aa4d9d9a18e8b",
        "type": "template",
        "z": "1b6e8e29077ebd4d",
        "name": "fix incomming message with a newline",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}\n",
        "x": 1610,
        "y": 440,
        "wires": [
            [
                "34c9a8bb309fb663"
            ]
        ]
    },
    {
        "id": "f7136b53362f4c61",
        "type": "template",
        "z": "1b6e8e29077ebd4d",
        "name": "+ newline",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}\n",
        "x": 1500,
        "y": 580,
        "wires": [
            [
                "6f125a982ffd5a88"
            ]
        ]
    },
    {
        "id": "f77d222d5d29b348",
        "type": "template",
        "z": "1b6e8e29077ebd4d",
        "name": "+ newline",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}\n",
        "x": 2140,
        "y": 100,
        "wires": [
            [
                "e146a4ae822a6d11"
            ]
        ]
    },
    {
        "id": "34c9a8bb309fb663",
        "type": "tcp request",
        "z": "1b6e8e29077ebd4d",
        "server": "localhost",
        "port": "1025",
        "out": "time",
        "splitc": "0",
        "name": "connect the Node-RED server",
        "x": 1950,
        "y": 440,
        "wires": [
            [
                "0e132d3759215ea3"
            ]
        ]
    },
    {
        "id": "0e132d3759215ea3",
        "type": "tcp out",
        "z": "1b6e8e29077ebd4d",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "reply: any answer back to the client",
        "x": 2280,
        "y": 440,
        "wires": []
    },
    {
        "id": "b63bee359e844916",
        "type": "inject",
        "z": "1b6e8e29077ebd4d",
        "name": "button: open telnet to 1025 (windows)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 2030,
        "y": 800,
        "wires": [
            [
                "2fcce8c217d1902a",
                "a8e26a3c134f0410"
            ]
        ]
    },
    {
        "id": "2fcce8c217d1902a",
        "type": "exec",
        "z": "1b6e8e29077ebd4d",
        "command": "start",
        "addpay": false,
        "append": "telnet localhost 1025",
        "useSpawn": false,
        "timer": "",
        "name": "start telnet",
        "x": 2270,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a8e26a3c134f0410",
        "type": "delay",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2280,
        "y": 860,
        "wires": [
            [
                "1f3f5c1538f6b038"
            ]
        ]
    },
    {
        "id": "1f3f5c1538f6b038",
        "type": "exec",
        "z": "1b6e8e29077ebd4d",
        "command": "msg",
        "addpay": false,
        "append": "%username% \"start by pressing enter\"",
        "useSpawn": false,
        "timer": "",
        "name": "msg box",
        "x": 2260,
        "y": 900,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ed1ab40ccdf3f687",
        "type": "template",
        "z": "1b6e8e29077ebd4d",
        "name": "no msg back, we do behave!",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "x": 1760,
        "y": 620,
        "wires": [
            [
                "6f125a982ffd5a88"
            ]
        ]
    },
    {
        "id": "beff15c363380c62",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 360,
        "wires": []
    },
    {
        "id": "d2c99eb3d0433de4",
        "type": "function",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "func": "msg.payload = JSON.parse(JSON.stringify(msg.payload))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "beff15c363380c62"
            ]
        ]
    },
    {
        "id": "ea80bf0be061d6b9",
        "type": "json",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "e7c8f4869a57bdd4",
                "b5a4e0dd114020a9",
                "6f125a982ffd5a88"
            ]
        ]
    },
    {
        "id": "b5a4e0dd114020a9",
        "type": "file",
        "z": "1b6e8e29077ebd4d",
        "name": "FILE",
        "filename": "C:\\Users\\FR-TEST\\test.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 890,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a14787e4d2adb902",
        "type": "xml",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "44340e0565bf5de7"
            ]
        ]
    },
    {
        "id": "44340e0565bf5de7",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "519832044ee9e769",
        "type": "inject",
        "z": "1b6e8e29077ebd4d",
        "name": "CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://127.0.0.1:8601/Interface/LPR/GetLastRecordData?Camera=CAMIN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 140,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "511ebcb2ce0be96e",
        "type": "inject",
        "z": "1b6e8e29077ebd4d",
        "name": "CAMOUT get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://127.0.0.1:8601/Interface/LPR/GetLastRecordData?Camera=CAMOUT&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 150,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fc93a05eaae27125",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1000,
        "wires": []
    },
    {
        "id": "595fa17aed0a5950",
        "type": "json",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1110,
        "y": 900,
        "wires": [
            [
                "f7136b53362f4c61"
            ]
        ]
    },
    {
        "id": "eb2fca91b3671f22",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 60,
        "wires": []
    },
    {
        "id": "6b8aa17d4acc359b",
        "type": "tcp in",
        "z": "1b6e8e29077ebd4d",
        "name": "Server holding connections at :1025 > 46789",
        "server": "server",
        "host": "",
        "port": "46789",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "text",
        "base64": false,
        "x": 1310,
        "y": 60,
        "wires": [
            [
                "eb2fca91b3671f22"
            ]
        ]
    },
    {
        "id": "81c39440f909611d",
        "type": "http request",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "6299670845912dd8"
            ]
        ]
    },
    {
        "id": "09d9b20625ccf199",
        "type": "change",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "81c39440f909611d"
            ]
        ]
    },
    {
        "id": "634a694fa56794f4",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "6299670845912dd8",
        "type": "xml",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 770,
        "y": 540,
        "wires": [
            [
                "634a694fa56794f4",
                "8f21e8c9c651fae1"
            ]
        ]
    },
    {
        "id": "7d1803beec333f01",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 640,
        "wires": []
    },
    {
        "id": "8f21e8c9c651fae1",
        "type": "function",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "func": "msg.temp = msg.payload;\nmsg.payload = {};\n\nmsg.payload.DateTime = msg.temp.Response.Data[0].RecordData[0].DateTime[0];\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.CameraIP = \"172.28.13.21\";\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.CameraIP = \"172.28.13.22\"; \n}\nmsg.payload.PlateText = msg.temp.Response.Data[0].RecordData[0].LicensePlate[0];\nmsg.payload.PlateProvince = msg.temp.Response.Data[0].RecordData[0].Country[0];\n\nmsg.payload.CarMake = msg.temp.Response.Data[0].RecordData[0].Manufacturer[0];\nmsg.payload.CarModel =  msg.temp.Response.Data[0].RecordData[0].VehicleType[0];\nmsg.payload.CarColor = msg.temp.Response.Data[0].RecordData[0].VehicleColor[0];\n\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.Direction = \"IN\"\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.Direction = \"OUT\"\n}\nmsg.payload.Location = \"GC3-MG\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 640,
        "wires": [
            [
                "584287dcf2a4cad6",
                "4d12aca0f6924a5c"
            ]
        ]
    },
    {
        "id": "584287dcf2a4cad6",
        "type": "json",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 710,
        "y": 640,
        "wires": [
            [
                "7d1803beec333f01",
                "02e15d102234084f",
                "6f125a982ffd5a88"
            ]
        ]
    },
    {
        "id": "02e15d102234084f",
        "type": "file",
        "z": "1b6e8e29077ebd4d",
        "name": "FILE",
        "filename": "C:\\Users\\FR-TEST\\test.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 890,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "4d12aca0f6924a5c",
        "type": "xml",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "fc6e188dceb35381"
            ]
        ]
    },
    {
        "id": "fc6e188dceb35381",
        "type": "debug",
        "z": "1b6e8e29077ebd4d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "78f1126e35e1f424",
        "type": "inject",
        "z": "1b6e8e29077ebd4d",
        "name": "Docker CAMOUT get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://172.28.13.100:8601/Interface/LPR/GetLastRecordData?Camera=Camera=GC3-MG-OUT&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "09d9b20625ccf199"
            ]
        ]
    },
    {
        "id": "ab1670318c9ef211",
        "type": "inject",
        "z": "1b6e8e29077ebd4d",
        "name": "Docker CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://172.28.13.100:8601/Interface/LPR/GetLastRecordData?Camera=GC3-MG-IN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "9c83d994a9e3d160"
            ]
        ]
    },
    {
        "id": "b6f58acc5c0a5e13",
        "type": "tcp in",
        "z": "1b6e8e29077ebd4d",
        "name": "Docker Node-RED Client",
        "server": "client",
        "host": "172.28.13.100",
        "port": "46789",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "text2",
        "base64": false,
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "ed1ab40ccdf3f687",
                "5879d938757dd550"
            ]
        ]
    },
    {
        "id": "1baaac1745545b8c",
        "type": "http request",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 770,
        "y": 220,
        "wires": [
            [
                "226c4f261602bea6"
            ]
        ]
    },
    {
        "id": "c6922de2b7087bd4",
        "type": "change",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "1baaac1745545b8c"
            ]
        ]
    },
    {
        "id": "f02f106446e33b12",
        "type": "debug",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "226c4f261602bea6",
        "type": "xml",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "f02f106446e33b12",
                "199d2b3285aa374c"
            ]
        ]
    },
    {
        "id": "537dc25df2a38cd0",
        "type": "debug",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "199d2b3285aa374c",
        "type": "function",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "func": "msg.temp = msg.payload;\nmsg.payload = {};\n\nmsg.payload.DateTime = msg.temp.Response.Data[0].RecordData[0].DateTime[0];\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.CameraIP = \"172.28.13.21\";\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.CameraIP = \"172.28.13.22\"; \n}\nmsg.payload.PlateText = msg.temp.Response.Data[0].RecordData[0].LicensePlate[0];\nmsg.payload.PlateProvince = msg.temp.Response.Data[0].RecordData[0].Country[0];\n\nmsg.payload.CarMake = msg.temp.Response.Data[0].RecordData[0].Manufacturer[0];\nmsg.payload.CarModel =  msg.temp.Response.Data[0].RecordData[0].VehicleType[0];\nmsg.payload.CarColor = msg.temp.Response.Data[0].RecordData[0].VehicleColor[0];\n\nmsg.payload.Location = \"GC3-MG\";\n\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.Direction = \"IN\"\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.Direction = \"OUT\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "a7f9267a504f6b47",
                "8bb0bf138fc13822"
            ]
        ]
    },
    {
        "id": "a7f9267a504f6b47",
        "type": "json",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "537dc25df2a38cd0",
                "5c7cfbf6d2a7a31e",
                "f09ab8530c165ef2",
                "5611b7ad677b4741"
            ]
        ]
    },
    {
        "id": "5c7cfbf6d2a7a31e",
        "type": "file",
        "z": "3cbbdea769e4e35e",
        "name": "FILE",
        "filename": "C:\\Users\\Public\\Documents\\cam1.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1110,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8bb0bf138fc13822",
        "type": "xml",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 750,
        "y": 340,
        "wires": [
            [
                "776a72dfbf7defbb"
            ]
        ]
    },
    {
        "id": "776a72dfbf7defbb",
        "type": "debug",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b1373e078dda5ed",
        "type": "inject",
        "z": "3cbbdea769e4e35e",
        "name": "[Local] CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://127.0.0.1:8601/Interface/LPR/GetLastRecordData?Camera=CAMIN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 240,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c0ad1d0d48bdc60e",
        "type": "inject",
        "z": "3cbbdea769e4e35e",
        "name": "[Local] CAMOUT get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://127.0.0.1:8601/Interface/LPR/GetLastRecordData?Camera=CAMOUT&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 240,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "bc2515e42615c9ee",
        "type": "http request",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "2ac6150d98353c47"
            ]
        ]
    },
    {
        "id": "de9b27db4ba76446",
        "type": "change",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "bc2515e42615c9ee"
            ]
        ]
    },
    {
        "id": "74eb7ddae4546094",
        "type": "debug",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "2ac6150d98353c47",
        "type": "xml",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 950,
        "y": 580,
        "wires": [
            [
                "74eb7ddae4546094",
                "3713e2b912b2d117"
            ]
        ]
    },
    {
        "id": "709a3f26740205f5",
        "type": "debug",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "3713e2b912b2d117",
        "type": "function",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "func": "msg.temp = msg.payload;\nmsg.payload = {};\n\nmsg.payload.DateTime = msg.temp.Response.Data[0].RecordData[0].DateTime[0];\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.CameraIP = \"172.28.13.21\";\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.CameraIP = \"172.28.13.22\"; \n}\nmsg.payload.PlateText = msg.temp.Response.Data[0].RecordData[0].LicensePlate[0];\nmsg.payload.PlateProvince = msg.temp.Response.Data[0].RecordData[0].Country[0];\n\nmsg.payload.CarMake = msg.temp.Response.Data[0].RecordData[0].Manufacturer[0];\nmsg.payload.CarModel =  msg.temp.Response.Data[0].RecordData[0].VehicleType[0];\nmsg.payload.CarColor = msg.temp.Response.Data[0].RecordData[0].VehicleColor[0];\n\nmsg.payload.Location = \"GC3-MG\";\n\nif(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-IN\"){\n    msg.payload.Direction = \"IN\"\n}\nelse if(msg.temp.Response.Data[0].RecordData[0].Camera[0]===\"GC3-MG-OUT\"){\n    msg.payload.Direction = \"OUT\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "a0cce333fbcfd083",
                "06b17f9dae1de295"
            ]
        ]
    },
    {
        "id": "a0cce333fbcfd083",
        "type": "json",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 750,
        "y": 640,
        "wires": [
            [
                "709a3f26740205f5",
                "dbcadc5297bf42a3",
                "f09ab8530c165ef2",
                "5611b7ad677b4741"
            ]
        ]
    },
    {
        "id": "dbcadc5297bf42a3",
        "type": "file",
        "z": "3cbbdea769e4e35e",
        "name": "FILE",
        "filename": "C:\\Users\\Public\\Documents\\cam2.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1110,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "06b17f9dae1de295",
        "type": "xml",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 750,
        "y": 700,
        "wires": [
            [
                "a3c35f43d2e189b6"
            ]
        ]
    },
    {
        "id": "a3c35f43d2e189b6",
        "type": "debug",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 760,
        "wires": []
    },
    {
        "id": "48393d37c01322dd",
        "type": "inject",
        "z": "3cbbdea769e4e35e",
        "name": "[GC3] Docker CAMOUT get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://172.28.13.100:8601/Interface/LPR/GetLastRecordData?Camera=Camera=GC3-MG-OUT&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "de9b27db4ba76446"
            ]
        ]
    },
    {
        "id": "0f3da1b6137a97be",
        "type": "inject",
        "z": "3cbbdea769e4e35e",
        "name": "[GC3] Docker CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://172.28.13.100:8601/Interface/LPR/GetLastRecordData?Camera=GC3-MG-IN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "c6922de2b7087bd4"
            ]
        ]
    },
    {
        "id": "ea7d085f9014ab20",
        "type": "inject",
        "z": "3cbbdea769e4e35e",
        "name": "button: create a msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"DateTime\":\"2020-09-18 16:29:12\",\"CameraIP\":\"10.13.8.76\",\"PlateText\":\"บษ2453\",\"PlateProvince\":\"กรุงเทพมหานคร\",\"CarMake\":\"toyota\",\"CarModel\":\"toyota_yaris\",\"CarColor\":\"silver-gray\",\"Location\":\"Gate1\",\"Direction\":\"IN\"}",
        "payloadType": "json",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "bab0c4a866d8cd56"
            ]
        ]
    },
    {
        "id": "bab0c4a866d8cd56",
        "type": "json",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 530,
        "y": 960,
        "wires": [
            [
                "425742d0063f55c2",
                "f09ab8530c165ef2",
                "5611b7ad677b4741"
            ]
        ]
    },
    {
        "id": "77fb973df6a438e7",
        "type": "inject",
        "z": "3cbbdea769e4e35e",
        "name": "[Test] Docker CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://192.168.1.137:8601/Interface/LPR/GetLastRecordData?Camera=GC3-MG-IN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a6d076af84c4f4c0",
        "type": "inject",
        "z": "3cbbdea769e4e35e",
        "name": "[Test] Docker CAMIN get LPR last Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://192.168.1.137:8601/Interface/LPR/GetLastRecordData?Camera=GC3-MG-IN&ResponseFormat=XML&AuthUser=admin",
        "payloadType": "str",
        "x": 250,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "425742d0063f55c2",
        "type": "debug",
        "z": "3cbbdea769e4e35e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 960,
        "wires": []
    },
    {
        "id": "f09ab8530c165ef2",
        "type": "websocket out",
        "z": "3cbbdea769e4e35e",
        "name": "์Notebook:192.168.1.116:4000",
        "server": "",
        "client": "3a960f68.dfb54",
        "x": 1940,
        "y": 520,
        "wires": []
    },
    {
        "id": "5611b7ad677b4741",
        "type": "websocket out",
        "z": "3cbbdea769e4e35e",
        "name": "Test:192.168.1.137:4000",
        "server": "",
        "client": "3a960f68.dfb54",
        "x": 1920,
        "y": 580,
        "wires": []
    }
]